.center-pre {
    position: absolute;
    left: 49%;
    margin-top: 10px;
}

.bx-news-list-filter-wrap input {
    display: none;
}

.btn-4 {
    padding: 0
}

.bx-filter-param-text {
    padding: 0.5em 1em;
    margin-right: 0.5em;
    margin-bottom: 0.25em;
}

.bx-news-list-filter-wrap input:checked ~ .bx-filter-param-text {
    background-color: #fff;
    color: #1a1b28;
    border-radius: 2em;
}

.bx-news-list-filter-wrap .btn-4:hover, .btn-4:focus, .btn-4:active, .btn-4.active {
    background-color: #ffffff00;
}

.bx-filter-param-text:hover, .bx-filter-param-text:focus, .bx-filter-param-text:active, .bx-filter-param-text.active {
    background-color: #fff;
    color: #1a1b28;
    border-radius: 2em;
}

.bx-core-adm-dialog {
    z-index: 1300 !important;
}

.case-grid .text2 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 7;
    grid-column: 1/12;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1;
}

.scope-msg {
    grid-column: 1/12;
}

.sec-callback .btn-1 {
    color: #0160fe !important;
}

.sec-callback .btn-1:hover, .sec-callback .btn-1:focus, .sec-callback .btn-1:active, .sec-callback .btn-1.active {
    background-color: #0A4AB6;
    color: #fff !important;
}

.grid-2 .card-capability figure figcaption h6 {
    width: 100%;
    font-weight: 800;
    font-size: 2.5em;
    margin: 0;
}

div.mf-ok-text {
    color: white;
}

.mminus {
    padding-bottom: 0;
}

.sec-function-info ul {
    padding-left: 0px;
}

.sec-function-info ul li {
    margin-bottom: 1.5em;
}

.sec-function-info ul li::marker {
    color: #0160fe;
    font-weight: bold;
}
.swiper-func { padding:5rem 0 4rem 0;}
.mt-3-minus { margin-top: -3rem;     padding-bottom: 1rem;}

.funct-mar{ padding: 2em 2em 0 2em;}
.funct-mar table{ margin: -2em -2em 0 -2em;}
.fix { position:sticky; top:0;}