
.tabs{
    width: 100%;
}

.tabs__nav {
    display: flex;
    justify-content: center;
}

.tabs__nav-btn {
    width: 230px;
    height: 40px;
    font-size: 20px;
    background: url(../images/tab-grey.png) no-repeat;
    background-size: cover;
    color:black;
    z-index: 20;
    border: 0;
    cursor: pointer;
}


.tabs__nav-btn:last-child {
    border-right: none;
}

.tabs__nav-text{
    font-weight: bold;
}

.tabs__nav-btn.active {
    background: url(../images/tab-white.png) no-repeat;
    background-size: cover;
}



.tabs__item {
    display: none;
}

.tabs__item.active {
    display: block;
}

.tabs__nav-btn1{
    margin-right: -15px;
}

.tabs__nav-btn3{
    margin-left: -15px;
}




@media (max-width:768px){
    .tabs__nav-btn{
        margin: 0 10px;
        padding: 10px 44px;
        width: fit-content;
        height: fit-content;
        background:none;
        color:white;
        border-radius: 25px;
        background: var(--main-blue);
    }
    .tabs__nav-btn.active {
        background: var(--main-grey);
        color:black;
    }
}

@media (max-width:640px){
    .tabs__nav-btn{
        margin: 0 5px;
        padding: 5px 10px;
        font-size: 16px;
    }
}




/* absolute right-[-25px] top-[80px] lg:top-[90px]  drop-shadow-2xl w-[250px] xl:w-[300px] */
/* absolute right-[-25px] top-[90px] xl:top-[110px] 2xl:w-96 w-[300px] xl:w-[350px] drop-shadow-2xl verter-b */
/* absolute right-[0] top-[100px] 2xl:w-80 drop-shadow-2xl w-[270px] xl:w-[320px] */

.img-box{
    width: 250px;
    position: absolute;
    right: -25px;
    top: 80px;
}

.img-shirt{
    width: 300px;
    position: absolute;
    right: -25px;
    top: 90px;
}

.img-hat{
    position: absolute;
    right: 0;
    top: 100px;
    width: 270px;
}

@media (min-width: 1280px){
    .img-box{
        width: 300px;
    }

    .img-shirt{
        width: 350px;
        top: 110px;
    }

    .img-hat{
        width: 320px;
    }
}

@media (min-width: 1024px){
    .img-box{
        top: 90px;
    }
}