@import url(./fonts.css);
/*@import url(./css/carousel.css);*/
/*@import url(./css/slider.css);*/

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-blue: #0160fd;
    --main-grey: #f3f4f5;
    --font-grey: #e6e6e6;
    --font-deep-grey: #1a1b28;
    --light-blue: #2ae8f8;
}

@layer base {
    html, body {
        height: 100%;
        font-family: 'Geometria', serif;
    }
}